div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;
}

mat-card{
  flex-basis: 500px;
}

.container{
  background-color: rgba(149, 199, 188, 0.21);
  border-radius: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
  margin : 10px 10px 10px 10px;
}

.loading{

  position: fixed; /* Position par rapport à la fenêtre */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  z-index: 9999; /* Très grand z-index pour être au-dessus de tout */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
}
