
<div class="container">
  <div *ngIf="pictures.length > 0; else noPictures">
    <mat-card appearance="outlined" *ngFor="let picture of pictures">
      <mat-card-header>
        <img mat-card-image src="../../assets/uploads/photos/{{picture.filename}}" alt="" width="100%" height="100%">
      </mat-card-header>
      <mat-card-actions>
        <button  mat-raised-button aria-label="Like" (click)="reactToPicture(picture.id, !((picture.isLike != undefined) && picture.isLike.like))">
          <mat-icon [color]="(picture.isLike != undefined) && picture.isLike.like ? 'warn' : ''">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
<div>
  <ng-template #noPictures>
    <p>No pictures found.</p>
  </ng-template>
</div>
</div>
