<div class="container">


  <div>
    <h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
        Username is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
<div>
  <button mat-raised-button color="success" type="submit" [disabled]="registerForm.invalid">Register</button>
</div>
  <div>
    <p>Already registered ?
      <a routerLink="/login">
        Login
      </a>
    </p>
  </div>
</form>
  </div>
</div>
<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
